
dspkit/.vscode/launch.json
dspkit/.vscode/c_cpp_properties.json
dspkit/.pio/build/project.checksum
dspkit/.pio/build/proj_master/src/util.o
dspkit/.pio/build/proj_master/src/main.o
dspkit/.pio/build/proj_master/src/lab_ofdm_process.o
dspkit/.pio/build/proj_master/src/lab_ofdm.o
dspkit/.pio/build/proj_master/src/lab_lms.o
dspkit/.pio/build/proj_master/src/example.o
dspkit/.pio/build/proj_master/src/blocks/windows.o
dspkit/.pio/build/proj_master/src/blocks/waveforms/mp3_data.o
dspkit/.pio/build/proj_master/src/blocks/sources.o
dspkit/.pio/build/proj_master/src/blocks/sinks.o
dspkit/.pio/build/proj_master/src/blocks/misc.o
dspkit/.pio/build/proj_master/src/blocks/gen.o
dspkit/.pio/build/proj_master/src/backend/unittest.o
dspkit/.pio/build/proj_master/src/backend/tsf/tsf_fastmath.o
dspkit/.pio/build/proj_master/src/backend/tsf/tsf_data.o
dspkit/.pio/build/proj_master/src/backend/tsf/powfast-c/PowFast.o
dspkit/.pio/build/proj_master/src/backend/systime/systime.o
dspkit/.pio/build/proj_master/src/backend/printfn/util_vsnprintf.o
dspkit/.pio/build/proj_master/src/backend/printfn/printfn.o
dspkit/.pio/build/proj_master/src/backend/pdm_fir/pdm_fir.o
dspkit/.pio/build/proj_master/src/backend/hw/system_stm32f4xx.o
dspkit/.pio/build/proj_master/src/backend/hw/stm32f4xx_it.o
dspkit/.pio/build/proj_master/src/backend/hw/stm32f4_discovery_audio_codec.o
dspkit/.pio/build/proj_master/src/backend/hw/stm32f4_discovery.o
dspkit/.pio/build/proj_master/src/backend/hw/microphone.o
dspkit/.pio/build/proj_master/src/backend/hw/headphone.o
dspkit/.pio/build/proj_master/src/backend/hw/board.o
dspkit/.pio/build/proj_master/src/backend/helix/real/trigtabs_fixpt.o
dspkit/.pio/build/proj_master/src/backend/helix/real/subband.o
dspkit/.pio/build/proj_master/src/backend/helix/real/stproc.o
dspkit/.pio/build/proj_master/src/backend/helix/real/scalfact.o
dspkit/.pio/build/proj_master/src/backend/helix/real/polyphase.o
dspkit/.pio/build/proj_master/src/backend/helix/real/imdct.o
dspkit/.pio/build/proj_master/src/backend/helix/real/hufftabs.o
dspkit/.pio/build/proj_master/src/backend/helix/real/huffman.o
dspkit/.pio/build/proj_master/src/backend/helix/real/dqchan.o
dspkit/.pio/build/proj_master/src/backend/helix/real/dequant.o
dspkit/.pio/build/proj_master/src/backend/helix/real/dct32.o
dspkit/.pio/build/proj_master/src/backend/helix/real/buffers.o
dspkit/.pio/build/proj_master/src/backend/helix/real/bitstream.o
dspkit/.pio/build/proj_master/src/backend/helix/mp3tabs.o
dspkit/.pio/build/proj_master/src/backend/helix/mp3dec.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_rfft_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_rfft_fast_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_rfft_fast_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_rfft_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_dct4_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_dct4_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_cfft_radix8_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_cfft_radix4_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_cfft_radix4_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_cfft_radix2_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_cfft_radix2_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_cfft_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_bitreversal2.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/TransformFunctions/arm_bitreversal.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/SupportFunctions/arm_fill_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/SupportFunctions/arm_copy_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/StatisticsFunctions/arm_var_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/StatisticsFunctions/arm_std_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/StatisticsFunctions/arm_rms_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/StatisticsFunctions/arm_power_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/StatisticsFunctions/arm_min_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/StatisticsFunctions/arm_mean_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/StatisticsFunctions/arm_max_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/MatrixFunctions/arm_mat_trans_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/MatrixFunctions/arm_mat_sub_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/MatrixFunctions/arm_mat_scale_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/MatrixFunctions/arm_mat_mult_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/MatrixFunctions/arm_mat_inverse_f64.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/MatrixFunctions/arm_mat_inverse_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/MatrixFunctions/arm_mat_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/MatrixFunctions/arm_mat_cmplx_mult_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/MatrixFunctions/arm_mat_add_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_lms_norm_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_lms_norm_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_lms_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_lms_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_iir_lattice_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_iir_lattice_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_fir_sparse_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_fir_sparse_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_fir_lattice_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_fir_lattice_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_fir_interpolate_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_fir_interpolate_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_fir_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_fir_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_fir_decimate_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_fir_decimate_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_correlate_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_conv_partial_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_conv_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_biquad_cascade_stereo_df2T_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_biquad_cascade_stereo_df2T_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_biquad_cascade_df2T_init_f64.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_biquad_cascade_df2T_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_biquad_cascade_df2T_f64.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_biquad_cascade_df2T_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_biquad_cascade_df1_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FilteringFunctions/arm_biquad_cascade_df1_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FastMathFunctions/arm_sin_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/FastMathFunctions/arm_cos_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/ControllerFunctions/arm_sin_cos_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/ControllerFunctions/arm_pid_reset_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/ControllerFunctions/arm_pid_init_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/ComplexMathFunctions/arm_cmplx_mult_real_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/ComplexMathFunctions/arm_cmplx_mult_cmplx_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/ComplexMathFunctions/arm_cmplx_mag_squared_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/ComplexMathFunctions/arm_cmplx_mag_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/ComplexMathFunctions/arm_cmplx_dot_prod_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/ComplexMathFunctions/arm_cmplx_conj_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/CommonTables/arm_const_structs.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/CommonTables/arm_common_tables.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/BasicMathFunctions/arm_sub_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/BasicMathFunctions/arm_scale_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/BasicMathFunctions/arm_offset_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/BasicMathFunctions/arm_negate_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/BasicMathFunctions/arm_mult_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/BasicMathFunctions/arm_dot_prod_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/BasicMathFunctions/arm_add_f32.o
dspkit/.pio/build/proj_master/src/backend/CMSIS/Source/BasicMathFunctions/arm_abs_f32.o
dspkit/.pio/build/proj_master/src/backend/cbuf.o
dspkit/.pio/build/proj_master/src/backend/btn_debounce/btn_debounce.o
dspkit/.pio/build/proj_master/src/backend/asciiplot.o
dspkit/.pio/build/proj_master/libFrameworkSPL.a
dspkit/.pio/build/proj_master/libFrameworkCMSISVariant.a
dspkit/.pio/build/proj_master/idedata.json
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_wwdg.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_usart.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_tim.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_syscfg.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_spi.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_sdio.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_sai.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_rtc.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_rng.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_rcc.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_pwr.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_ltdc.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_iwdg.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_i2c.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_hash_sha1.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_hash_md5.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_hash.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_gpio.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_fsmc.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_flash_ramfunc.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_flash.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_exti.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_dma2d.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_dma.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_dcmi.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_dbgmcu.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_dac.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_cryp_tdes.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_cryp_des.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_cryp_aes.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_cryp.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_crc.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_can.o
dspkit/.pio/build/proj_master/FrameworkSPL/stm32f4xx_adc.o
dspkit/.pio/build/proj_master/FrameworkSPL/misc.o
dspkit/.pio/build/proj_master/FrameworkCMSISVariant/system_stm32f4xx.o
dspkit/.pio/build/proj_master/FrameworkCMSISVariant/startup_stm32f40xx.o
dspkit/.pio/build/proj_master/firmware.elf
dspkit/.pio/build/proj_master/firmware.bin
dspkit/.pio/build/proj_master/.sconsign39.dblite
